include psims/controlled_vocabulary/vendor/*.obo*
include psims/controlled_vocabulary/vendor/*.json*
include psims/controlled_vocabulary/vendor/*.xml*
include psims/validation/xsd/*.xsd
include README.md
