# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: publish

on:
  create:
    tags:
      - "v*"

jobs:
  deploy:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: "Publish Wheel"
      env:
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        TWINE_USERNAME: __token__
      run: |
        python setup.py build sdist bdist_wheel --universal
        twine upload dist/*.whl dist/*.tar.gz
